
* {
    box-sizing: border-box;
}

:root {
    --clr-black: hsl(0, 0%, 0%);
    --clr-almost-black: hsl(0, 0%, 8%);
    --clr-orange-300: #F8A145;
    --clr-orange-400: #F07900;
    --clr-orange-500: #D35100;

    --clr-brown: #7F4D3E;
    --clr-brown-light: #B87C4C;
    --clr-brown-lighter: #E2B659;
    --clr-yellow-light: #F9F871;

    --clr-blue: #00C6FF;
}

h1, h2, h3 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

body {
    padding: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: var(--clr-almost-black);
    color: var(--clr-blue);
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 70rem;
    margin: 3rem auto;
    border: 2px solid var(--clr-blue);
    padding: 1rem;
}

.main-content {
    padding: 2rem;
    border: 2px solid var(--clr-orange-300);
    flex-basis: 500px;
    flex-grow: 9999;
}

.sidebar {
    padding: 2rem;
    border: 2px solid var(--clr-orange-300);
    flex-basis: 250px;
    flex-grow: 1;
}

.intro {
    word-spacing: .3em;
}

.accent {
    color: var(--clr-orange-300);
    font-style: italic;
}

code {
    background-color: #4B4A54;
    color: var(--clr-orange-300);
    padding: .25em .5em;
}